<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jfinkelstudios.mobile.daily.location.tracker">


    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- Required For Google Maps API -->
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- For Google Play Services -->
        <meta-data
            android:name="com.google.android.gms.vision"
            android:value="@integer/google_play_services_version" />
        <!-- For Google Map API -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCOcrXY5gFIfuXjNZEzr25Fzrwu-A8Pecg" />

        <!-- Background Service -->
        <service
            android:name=".BackgroundService"
            android:label="BackgroundService" />

        <!-- Job Service -->
        <service
            android:name=".LocationJob"
            android:permission="android.permission.BIND_JOB_SERVICE" />
    </application>

</manifest>